/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
    background: linear-gradient(135deg, #124f87, #13c7cf) no-repeat center center fixed;
    line-height: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
    color: black;
    
}
.navbar {
    background: none;
    border: none;
    color: white;
   
}

.btn {
    background: none;
    border-radius: 20px;
    border-color: white;
    color: white;
    border-width: thin;
}    
    
.btn.btn-custom {
    color: white;
    background: none;
    border-radius: 20px;
    border-color: white;
}
        
.nav.navbar-nav li a{
    color: white;
    border-color: white;
    border-radius: 5px;
    background: none;
    
}          

.navbar-brand {
    height: 70px;
    margin-top: -12px;
    margin-left: 5px;
}

.dropdown-toggle li a {
    background: none;
}


.h2 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(black, .4);
  }
  
  